<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Aviators - byaviators.com">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{asset('assets/img/favicon.png')}}" type="image/png">
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap-responsive.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('assets/libraries/chosen/chosen.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('assets/libraries/bootstrap-fileupload/bootstrap-fileupload.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('assets/libraries/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('assets/css/realia-red.css')}}" type="text/css" id="color-variant-default">
        <link rel="stylesheet" href="{{asset('assets/css/mystyle.css')}}" type="text/css">
        <link rel="stylesheet" href="#" type="text/css" id="color-variant">

        <title>TunisianWatch</title>
    </head>
    <body>
        <div id="wrapper-outer" >
            <div id="wrapper">
                <div id="wrapper-inner">
                    <div class="breadcrumb-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="span12">
                                    <ul class="breadcrumb pull-left">
                                        <li><a href={{path('homepage')}}>Home</a></li>
                                    </ul><!-- /.breadcrumb -->

                                    <div class="account pull-right">
                                        <ul class="nav nav-pills">
                                            <li><a href="">Login</a></li>
                                        </ul>
                                    </div>
                                </div><!-- /.span12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.breadcrumb-wrapper -->

                    <!-- HEADER -->
                    <div id="header-wrapper">
                        <div id="header">
                            <div id="header-inner">
                                <div class="container">
                                    <div class="navbar">
                                        <div class="navbar-inner">
                                            <div class="row">
                                                <div class="logo-wrapper span4">
                                                    <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                                                    <div class="logo">
                                                        <a href="index.html" title="Home">
                                                            <img src="{{asset('assets/img/logo.png')}}" alt="Home">
                                                        </a>
                                                    </div><!-- /.logo -->

                                                    <div class="site-name">
                                                        <a href="{{path('homepage')}}" title="Home" class="brand">TunisianWatch</a>
                                                    </div><!-- /.site-name -->


                                                </div><!-- /.logo-wrapper -->

                                                <div class="info">
                                                    <div class="site-email">
                                                        <a href="mailto:dev.gear@tunisianwatch.com">dev.gear@tunisianwatch.com</a>
                                                    </div><!-- /.site-email -->
                                                </div><!-- /.info -->


                                            </div><!-- /.row -->
                                        </div><!-- /.navbar-inner -->
                                    </div><!-- /.navbar -->
                                </div><!-- /.container -->
                            </div><!-- /#header-inner -->
                        </div><!-- /#header -->
                    </div><!-- /#header-wrapper -->

                    <!-- NAVIGATION -->
                    <div id="navigation">
                        <div class="container">
                            <div class="navigation-wrapper">
                                <div class="navigation clearfix-normal">

                                    <ul class="nav">
                                        <li>
                                            <a href="{{path('homepage')}}">Homepage</a>
                                        </li>
                                        <li>
                                            <a href="{{path('Reclamation_new')}}" >Ajouter une réclamation</a>
                                        </li>
                                        <li>
                                            <a href="#alauneinternallink" >Mes reclamations</a>
                                        </li>
                                        <li><a href="#footer-wrapper">Contact Us</a></li>
                                    </ul><!-- /.nav -->



                                    <form method="get" class="site-search" action="?">
                                        <div class="input-append">
                                            <input title="Enter the terms you wish to search for." class="search-query span2 form-text" placeholder="Search" type="text" name="">
                                            <button type="submit" class="btn"><i class="icon-search"></i></button>
                                        </div><!-- /.input-append -->
                                    </form><!-- /.site-search -->
                                </div><!-- /.navigation -->
                            </div><!-- /.navigation-wrapper -->
                        </div><!-- /.container -->
                    </div><!-- /.navigation -->

                    <!-- CONTENT -->
                    <div id="content">
                        {% block content %}{% endblock %}
                </div><!-- /#content -->
            </div><!-- /#wrapper-inner -->
          
            <div id="footer-wrapper">
                <div id="footer-top">
                    <div id="footer-top-inner" class="container">
                        <div class="row" style="position:relative;height:auto">
                            <div style="height:270px;"><!--kgsdfhqsjlhfjqsdgklqshdglgkjhqgklhqsdkhgqklghjqgqdjhqjlgh-->
                                <div class="widget span3" style="left:20%;position:absolute;height:auto;">
                                    <div class="title">
                                        <h2>Contacter nous !</h2>
                                    </div><!-- /.title -->

                                    <div class="content">
                                        <table class="contact">
                                            <tbody>
                                                <tr>
                                                    <th class="address">Adresse:</th>
                                                    <td>Esprit</td>
                                                </tr>
                                                <tr>
                                                    <th class="phone">Tel:</th>
                                                    <td>+216 .. ... ...</td>
                                                </tr>
                                                <tr>
                                                    <th class="email">E-mail:</th>
                                                    <td><a href="mailto:Dev.Gear@tunisianwatch.com">Dev.Gear@tunisianwatch.com</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- /.content -->
                                </div><!-- /.widget -->
                                <div class="widget span3" style="right:20%;position:absolute;height:auto">
                                    <div class="content">
                                        <form method="post">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">
                                                    Nom
                                                    <span class="form-required" title="This field is required.">*</span>
                                                </label>
                                                <div class="controls">
                                                    <input type="text" id="inputName">
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="inputEmail">
                                                    Email
                                                    <span class="form-required" title="This field is required.">*</span>
                                                </label>
                                                <div class="controls">
                                                    <input type="text" id="inputEmail">
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="inputMessage">
                                                    Message
                                                    <span class="form-required" title="This field is required.">*</span>
                                                </label>

                                                <div class="controls">
                                                    <textarea id="inputMessage"></textarea>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class="form-actions">
                                                <input type="submit" class="btn btn-primary arrow-right" value="Envoyer">
                                            </div><!-- /.form-actions -->
                                        </form>
                                    </div><!-- /.content -->
                                </div>
                            </div><!-- /.widget -->
                        </div><!-- /.row -->
                    </div><!-- /#footer-top-inner -->
                </div><!-- /#footer-top -->

                <div id="footer" class="footer container">
                    <div id="footer-inner">
                        <div class="row">
                            <div class="span6 copyright">
                                <p>© Copyright 2013 by <font color="red"> Dev.Gear </font>. All rights reserved.</p>
                            </div><!-- /.copyright -->

                            <div class="span6 share">
                                <div class="content">
                                    <ul class="menu nav">
                                        <li class="first leaf"><a href="http://www.facebook.com" class="facebook">Facebook</a></li>
                                        <li class="leaf"><a href="http://flickr.net" class="flickr">Flickr</a></li>
                                        <li class="leaf"><a href="http://plus.google.com" class="google">Google+</a></li>
                                        <li class="leaf"><a href="http://www.linkedin.com" class="linkedin">LinkedIn</a></li>
                                        <li class="leaf"><a href="http://www.twitter.com" class="twitter">Twitter</a></li>
                                        <li class="last leaf"><a href="http://www.vimeo.com" class="vimeo">Vimeo</a></li>
                                    </ul>
                                </div><!-- /.content -->
                            </div><!-- /.span6 -->
                        </div><!-- /.row -->
                    </div><!-- /#footer-inner -->
                </div><!-- /#footer -->
            </div><!-- /#footer-wrapper -->
        </div><!-- /#wrapper -->
    </div><!-- /#wrapper-outer -->



    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
    <script type="text/javascript" src="{{asset('assets/js/jquery.js')}}"></script>
   
    <script type="text/javascript" src="{{asset('assets/js/jquery.ezmark.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/jquery.currency.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/jquery.cookie.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/retina.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/carousel.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/gmap3.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/gmap3.infobox.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/libraries/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/libraries/chosen/chosen.jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/libraries/iosslider/_src/jquery.iosslider.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/libraries/bootstrap-fileupload/bootstrap-fileupload.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/realia.js')}}"></script>
</body>
</html>